* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    /* 10px / 16px = 0.625 = 62.5px */
    */
    /* font-size: 62.5%;  */
}

body {
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}

img {

    display: block;
    max-width: 100%;
}

.container {
    width: 137rem;
    margin: 0 auto;
    /* padding-top: 5.9rem; */

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/**************header***********/
header {
    /* background-color: grey; */
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    transition: all 0.5s;
    z-index: 999;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem 0;

}

header nav {
    margin-left: auto;
}


header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 3.3rem;
}

header .search {
    color: #fff;
    font-size: 1.8rem;
    padding: 3.6rem;
}

header nav ul li a {
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    padding-left: 1.5rem;


}

.dark-header {
    background-color: #000;

}



/*******************************/

/*************hero*************/

#hero {
    background: url(../images/n2.jpg);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
}

#hero p{
    color: #CFCFCF;
}

#hero span {
    color: white;
}


.hero-data {
    position: absolute;
    top: 30%;
    left: 4.63%;
    right: 54.76%;
     /* top: 4.68%; */
    bottom: 91.42%;
}

.hero-data h1 {
    font-weight: 700;
    font-size: 9rem;
    line-height: 11rem;
    color: #fff;
    /* border: 1px solid red; */
    width: 650px;

    
    
}

.hero-data p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: #CFCFCF;
    /* left: 4.63%;
    right: 66.27%;
    top: 9.27%;
    bottom: 89.03%; */
    margin-top: 40px;
}

#hero .search {
    margin-top: 30px;
    width: 736px;
    height: 80px;
    background-color: #fff;
    border-radius: 40px;

}

#hero .search_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
    
}


#hero button {
    width: 161px;
    height: 56.87px;  
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
}

.search_data select {
    border: none;
    font-size: 20px; 
    align-items: center;
    justify-content: space-between;
}


/******************************/

/**********explore*************/
#explore{
    margin-top: 102px;
}
#explore .explore_data h1{
   
    text-align: center;
    font-size: 60px;
    line-height: 70px;
}
#explore .explore_data p{
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    color: #878787;
}

#explore .explore_images{
    display: flex;
    margin-top: 50px;
}

#explore .explore_images img {
    width: 444px;
    height: 361px;
    object-fit: cover;
    object-position: center;
    margin: 10px;
}

.prevbtn{
    background-color: #878787;
    width: 40px;
    height: 40px;
    border-radius: 9px;
    /* padding: 20px; */
}

.prevbtn i {
    padding: 12px;
    font-size: 20px;
    
}

.nextbtn{
    background-color: #878787;
    width: 40px;
    height: 40px;
    border-radius: 9px;
    /* padding: 20px; */
}

.nextbtn i {
    padding: 12px;
    font-size: 20px;
    
}







/******************************/