* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    /* 10px / 16px = 0.625 = 62.5px */

    /* font-size: 62.5%;  */
}

body {
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}

img {

    display: block;
    max-width: 100%;
}

.container {
    max-width: 141rem;
    margin: 0 auto;
    padding: 0 2rem;
    /* padding-top: 5.9rem; */

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/**************header***********/
header {
    /* background-color: grey; */
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    transition: all 0.5s;
    z-index: 999;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* padding: 2rem; */
}

header nav {
    margin-left: auto;

}


header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;

}

/* header .search {
    color: #fff;
    font-size: 1.8rem;
    padding: 3.6rem;
} */

header .search {
    color: #fff;
    font-size: 1.8rem;
    padding: 1rem;
    /* margin: 20px; */
}

header nav ul li a {
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    display: inline-block;
    padding: 0 3.3rem;

}

nav ul li a:hover i {
    transform: rotate(90deg);
}

.dark-header {
    background-color: #000;

}

header nav ul li {
    display: inline-block;
    position: relative;
    list-style-type: none;
    transition: all 0.5s;

}

header nav ul li a {
    display: inline-block;
    transition: all 0.5s;
    padding: 20px;

}

header nav ul li a:hover {
    background-color: black;
    color: azure;

}

header nav ul li:hover>ul {
    display: inline-block;

}

header nav ul li ul {
    display: inline-block;
    position: absolute;
    top: 58px;
    left: 0;
    background-color: gray;
    display: none;

}

header nav ul li ul li,
header nav ul li ul li a {
    width: 100%;
    text-align: center;
}


header nav ul li li ul
 {
    top: 0;
    left: 143px;
    position: absolute;

}

nav ul>i,
nav>i {
    display: none !important;
}

nav ul li a:hover i {
    transform: rotate(90deg);
}

nav ul li a i {
    padding: 4px;
}



*/
/*******************************/

/*************hero*************/
#hero .container {
    max-width: 141rem;
    margin: 0 20px;

}

#hero {
    background: url(../images/bali1.jpg);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
}

#hero p {
    color: #CFCFCF;
}

.hero-data span {
    color: #ECECEC;
    margin-top: 3.6rem;
}


.hero-data {
    position: absolute;
    top: 18%;
}

.hero-data h1 {
    font-weight: 700;
    font-size: 9rem;
    line-height: 11rem;
    color: #fff;
    /* border: 1px solid red; */
    width: 650px;
    height: 212.05px;
    font-family: 'Poppins';
    margin-top: 50px;
}


.hero-data p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: #CFCFCF;
    width: 440px;
    height: 92.53px;
    margin-top: 37.59px;
    font-family: 'Poppins';

}



#hero .search_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: 736px;
    height: 78.07px;
    /* margin-top: 10px; */
    background-color: #fff;
    border-radius: 72px;
    border: 1px solid #CBCACA;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.3);
}


.search_data button {
    width: 161px;
    height: 53.87px;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-right: -6px;
}



.search_data select {
    border: none;
    font-size: 20px;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #9B9B9B;
}

.bali {
    margin-top: 20px;
}

.bali p span {
    color: white;

}

/******************************/



/**********explore*************/
#explore {
    margin-top: 178px;
}

.main_title h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    color: #020202;
    text-align: center;

}

.main_title p {
    margin-top: 29.06px;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    color: #878787;
    font-family: 'Poppins';
    font-style: normal;
    text-align: center;

}

.exploreimage_data h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    font-family: 'Poppins';


}

.exploreimage_data p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #555555;
}

.explore-circle {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    text-align: center;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.14);
    top: -2rem;
    right: 3rem;
}

.exploreimage_data {
    position: relative;

}

.explore-circle span {
    font-weight: 400;
    font-size: 72px;
    line-height: 126px;
    text-align: center;
    align-items: center;
    font-style: italic;
    padding-right: 24px;
    color: #000000;
    display: inline-block;

}

.exploreimage_data h2 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #000;
    margin-top: 22px;
}

.exploreimage_data p {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    color: #555555;
}

.explore_data .explore-circle {
    font-size: 50px;
}

.explore_slider .swiper-wrapper .swiper-slide .exploreimage img {
    width: 444px;
    height: 361px;
    border-radius: 10px;
    width: 444px;
}


.explore_btn .prev,
.explore_btn .next {
    z-index: 9;
    position: absolute;
    top: -9rem;
    width: 7rem;
    height: 6.6rem;
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    font-size: 3rem;
    text-align: center;
    line-height: 6.5rem;
    cursor: pointer;
}

#explore .explore_btn {
    position: relative;
    margin-top: 100px;
}

.explore_btn .prev {
    left: 0;
    color: #737373;
}

.explore_btn .next {
    right: 0;
    color: #737373;
}

.exploreimage_data {
    opacity: 0;
    padding: 20px;

}

#explore .swiper-slide:hover .exploreimage_data {
    opacity: 1;
    transition: all 1s;


}

#explore .swiper-wrapper {
    padding: 20px 0;

}



#explore .swiper-slide:hover {
    transform: translateY(-10px);
    /* box-shadow: 0px 8px 8px 0px grey; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

#explore .swiper-slide:hover .exploreimage img {
    height: 361px;
    border-radius: 10px 10px 0px 0px;
}


/******************************/




/************why*****************/
#why {
    margin-top: 178.34px;
    background-size: 100% 500px;
    background-image: url(../images/bali7.jpg);
    background-repeat: no-repeat;
}

#why .swiper-wrapper {
    /* padding: 5px; */
    margin-top: 5rem;
}


#test .why_slider .swiper-slide {
    padding: 50px;
}

#why .why_data h2 {
    text-align: center;
    font-size: 60px;
    line-height: 90px;
    color: white;
    font-weight: 700;
    padding-top: 20px;
}

#why .why_data p {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    color: white;
    font-weight: 200;
}

.why_btn .prev,
.why_btn .next {
    z-index: 9;
    position: absolute;
    top: -9rem;
    width: 7rem;
    height: 6.6rem;
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    font-size: 3rem;
    text-align: center;
    line-height: 6.5rem;
    cursor: pointer;
}

#why .why_btn {
    position: relative;
    margin-top: 100px;
}

.why_btn .prev {
    left: 0;
    color: #737373;
}

.why_btn .next {
    right: 0;
    color: #737373;
}

.why_slider .swiper-slide .why_desc h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-top: 30px;

}

.why_desc img {
    margin: 5px;
}

.why_slider .swiper-slide .why_desc p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #858585;
    margin-top: 15px;


}

.why_slider .swiper-slide .why_desc a {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    position: absolute;
    display: flex;
    margin-top: 25px;

}
.why_img img {
    width: 95.57px;
    height: 97px;
}

.why_images {

    height: 432.77px;
    background-color: #fff;
    border-radius: 10px;
    /* border: rgb(225, 215, 215) solid 1px; */
    padding: 25px 25px 40px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    margin: 20px 60px 20px 60px;
    /* margin: 5px; */

}

#why .swiper {
    padding-bottom: 77px;
}

/******************tour********************/
#tour {
    margin-top: 94.4px;
}

.tour_data h2 {
    text-align: center;
    font-weight: 600;
    font-size: 60px;
    /* margin-top: 50px; */
    line-height: 70px;
    font-family: 'Poppins';
    font-style: normal;
    color: #020202;
}

.tour_data p {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #858585;
    margin-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    line-height: 34px;

}

.tour_img {
    display: flex;
    margin: 25px;
    align-items: center;
    justify-content: space-between;
}

.tour_img img {
    height: -webkit-fill-available;
    margin: 40px;

}

/******************************************/

/*****************testmoinl*******************/
#test {
    margin-top: 178.09px;
}

.test_data h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 70px;
    letter-spacing: 0.14em;
    color: #626262;
}

#test .client-container {
    margin-left: calc((100% - 141rem) / 2);
    padding: 0 20px;
}

.test_data h2 {
    font-weight: 600;
    margin-top: -10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    /* line-height: 70px; */
    color: #020202;
}

.test_data p {
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #626262;
}

.test_btn .prev1,
.test_btn .next2 {
    z-index: 9;
    position: absolute;
    top: -13.4rem;
    width: 7rem;
    height: 7rem;
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    font-size: 3rem;
    /* text-align: center; */
    align-items: center;
    line-height: 6.5rem;
    cursor: pointer;
    display: flex;
    padding: 24.5px;


}

#test .test_btn {
    position: relative;
    margin-top: 80px;
}


.test_btn .prev1 {
    right: 18rem;
    color: #737373;
}

/* .test_btn .next2 {
    right: 3rem;
    color: #737373;
} */
.test_btn .next2 {
    right: 5.5rem;
    color: #737373;
}


#test .test_slider .swiper-slide {
    background-color: #fff;
    padding-bottom: 20px;
    border-radius: 10px;
}

.test_profile {
    margin-top: 0px;

}


.test_slider .swiper-wrapper {
    padding-bottom: 50px;
    /* padding: -3px; */
}

#test .test_slider .swiper-slide {
    /* padding-top: 7rem; */
    padding-bottom: 5rem;
}



#test .test_slider .swiper-slide .test_profile .test-profile-pic {
    display: flex;
    justify-content: center;
    margin-bottom: -50px;
}


#test .test_slider .swiper-slide .test_profile .test-profile-pic img {
    margin-top: -70px;
    margin: -61px 125px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile_data {
    margin-top: 50px;
    border-radius: 10px;
    height: 432px;
    /* width: 399px; */
    padding: 30px;
    padding-bottom: 50px;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1);

}

.test_slider .swiper-wrapper {
    padding-bottom: 50px;
    padding: 63px 45px 24px;

}

.profile_data h4 {
    font-size: 24px;
    font-weight: 600px;
    line-height: 70px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins';
    font-style: normal;

}

.profile_data img {
    margin-top: 50px;
}

.profile_data p {
    text-align: center;
    color: #858585;
    margin-top: -49px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 90px;



}

.profile_data h3 {
    color: #858585;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    margin-top: 10px;
}

/***********************************************/



/*******************subcribe*************/

#subcribe {

    margin-top: 178px;
    background-image: url(../images/bali1.jpg);
    background-size: 100%;
    height: 500px;
    background-repeat: no-repeat;

}

#subcribe .sub_data {
    padding-top: 10px;
}

#subcribe .sub_data h2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    color: white;
    text-align: center;
    margin-top: 40px;

}

#subcribe .sub_data p {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: #DFDFDF;
    margin-top: 10px;
}

.type_email {
    width: 676px;
    height: 69px;
    background-color: #fff;
    border-radius: 34.5px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    text-align: center;

    margin-top: 88px;
    margin-bottom: 157px;


}

.type_email h4 {
    color: #878787;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins';
    font-style: normal;
    line-height: 34px;
    color: #9B9B9B;
    padding: 15px;

}

.sub-btn {
    align-items: center;
    text-align: center;



}


.type_email .sub-btn button {
    color: #fff;
    background-color: black;
    width: 146px;
    height: 55px;
    border-radius: 27.5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    margin: 8px;


}

/*********************************/

/******************traveller**************/
#top {
    margin-top: 100px;
}

#top .container {
    display: flex;
    justify-content: space-between;
}

.traveller {
    display: flex;
    width: 400px;
    justify-content: space-between;
}


.traveller_images p {
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #878787;
}


.contact ul li a:hover,
.contact ul li a:hover i {
    color: #069ABA;
}

.contact h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 70px;
    align-items: center;
    color: black;
    display: flex;
}

.contact ul li a i {
    color: black;
}

.contact ul li {
    list-style-type: none;


}

.contact ul li a img {
    margin: 6px;
}

.contact ul li a {
    color: #6C6C6C;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    display: flex;
    display: inline-block;
}

.contact ul li i {
    font-size: 1.5rem;
    padding-right: 1rem;
}

.quik ul li a:hover {
    color: #069ABA;
}

.quik h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 70px;

}

.quik ul li {
    list-style-type: none;
}

.quik ul li a {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    color: #6C6C6C;

}

.follow ul li {
    display: inline-block;
}

.follow h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 70px;
    display: flex;
    align-items: center;
    color: #000;
}

.follow ul li a i:hover {
    color: #069ABA;
}

.follow i {
    font-size: 2rem;
    padding: 0px 2rem 0 0;
    color: #3D3D3D;
}

.copyright p {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    height: 89px;
    padding: 55px;
    background-color: #000;
}

#bottom {
    margin-top: 100px;
}

/*****************************************/



/* 1366-1440 (laptop) */
@media screen and (max-width:1440px) {
    .container {
        max-width: 134rem;
        padding: 0 15px;
    }

    #test {
        margin-top: 160px;
    }

    #test .client-container {
        margin-left: calc((100% - 134rem) / 2);
    }

    .hero-data h1 {
        font-size: 8rem;
        line-height: 9rem;
    }

    #hero {
        height: 700px;
    }

    .hero-data {
        top: 22%;
    }

    .hero-data p {
        /* margin-top: -2px; */
        padding-top: 17px;
    }
    #hero p {
            
        margin-top: -19px;
    }
    #hero .search_data{
        width: 720px;
        height: 75.07px;
    }
    .explore_btn .prev, .explore_btn .next {
        width: 6.1rem;
        height: 6.1rem;
        font-size: 2.5rem;
        line-height: 0;
        padding: 19px;
    }

    .why_images {
         height: 408.75px;
    }
    .why_img img {
        width: 94.57px;
        height: 96px;
    }

    .why_btn .prev, .why_btn .next {
        width: 6.1rem;
        height: 6.1rem;
        font-size: 2.5rem;
        padding: 18px;
        line-height: 0;
    }

    .test_btn .prev1, .test_btn .next2 {
        width: 6.1rem;
        height: 6.1rem;
        font-size: 2.5rem;
        padding: 23px;
        line-height: 0;
    }

    header nav ul li a {
        padding: 25px;
    }


    header nav ul li ul li a {
        padding: 15px 0;
    }

    header nav ul li li ul {
        top: 0;
        left: 154px;
        position: absolute;
    }

    header nav ul li ul li a {
        padding: 15px;
    }
    #why .why_data h2 {
        font-size: 55px;
        line-height: 60px;
    }

    .tra_img img {
        width: 80%;
    }
    .main_title p {
        line-height: 38px;
        margin-top: 0;
    }
    .main_title h2 {
        font-size: 55px;
        line-height: 59px;
    }
    #explore {
        margin-top: 160px;
    }
    #why {
        margin-top: 160px;
    }
    .traveller_images p{
        font-size: 16px;
    }
    .contact ul li a{
        font-size: 17px;
    }
    .quik ul li a{
        font-size: 17px;
    }
    .explore-circle {
        width: 7rem;
        height: 7rem;
    }
    .explore-circle span {
        font-weight: 400;
        font-size: 67px;
        line-height: 109px;
    }
    .why_slider .swiper-slide .why_desc p {
        font-size: 17px;
    }
    .why_slider .swiper-slide .why_desc h4 {
        font-size: 24px;
    }

    #tour {
        margin-top: 91.4px;
    }
    .test_btn .next2 {
        right: 1rem;
        
    }

    .test_btn .prev1 {
        right: 12rem;
        
    }
    #subcribe .sub_data h2 {
        line-height: 59px;
        font-size: 54px;
    }
    #subcribe .sub_data p {
       
        font-size: 17px;
        line-height: 37px;
    }

    .tour_data h2 {
      font-weight: 600;
      font-size: 54px;
      line-height: 53px;
    }
    .tour_data p {
        font-size: 17px;
        line-height: 31px;
    }

    #subcribe {

        margin-top: 160px;
    }
    #top {
        margin-top: 90px;
    }
    #bottom {
        margin-top: 90px;
    }

}



    /* 1200-1365(Big_ipad) */
    @media screen and (max-width:1365px) {
        .container {
            max-width: 95%;
        }

       
        header nav ul li a {
            padding: 20px;
        }
        header nav ul li li ul {
            top: 0;
            left: 116px;
            
        }

        header nav ul li {
            display: inline-block;
            /* padding: 0 2rem; */
        }

        header nav ul li ul {
            top: 55px;

            /* margin-top: 55px; */
        }

        
        nav ul li a i {
            padding: 3px;
        }
        .test_btn .next2 {
            right: 2rem;
        }
        
        

        .tour_img img {
            height: -webkit-fill-available;
            margin: 30px;
        }

        header nav ul li a {
            padding-left: 0;
        }

        .explore_slider .swiper-wrapper .swiper-slide .exploreimage img {
            
            height: 300px;
        }

        #explore .swiper-slide:hover .exploreimage img {
            height: 350px;
            width: 100%;
        }

        #explore .explore_data h1 {
            text-align: center;
            font-size: 50px;
            line-height: 65px;
        }

        #test .client-container {
            margin-left: calc((100% - 95%) / 2);

        }


        .explore_btn .prev,
        .explore_btn .next {
            width: 5rem;
            height: 5.2rem;
            font-size: 2rem;
            padding: 15px;
            line-height: 0;
        }

        .why_btn .prev,
        .why_btn .next {

            width: 5rem;
            height: 5.1rem;
            font-size: 2rem;
            text-align: center;
            cursor: pointer;
            padding: 16px;
        }


        #explore .swiper-slide:hover .exploreimage img {
            height: 300px;
            width: 100%;
        }

        .test_btn .prev1,
        .test_btn .next2 {

            width: 5rem;
            height: 5.1rem;
            font-size: 2rem;
            align-items: center;
            padding: 18.5px;
        }

        #subcribe .sub_data h1 {
            margin-top: 20px;
        }
        #explore {
            margin-top: 155px;
        }
        #why {
            margin-top: 150px;
        }

        #subcribe {
            height: 400px;
        }
        #test {
            margin-top: 158px;
        }
        #subcribe {
            margin-top: 158px;
        }
        .main_title h2 {
               font-size: 49px;
               line-height: 57px;;
            
        }
        .main_title p {
            line-height: 37px;
            margin-top: 0;
            font-size: 16px;
        }
        .hero-data h1 {
            font-size: 7rem;
            line-height: 8rem;
        }
        #hero p {
            margin-top: -32px;
        }
        .hero-data p {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 3.4rem;
        }
        #hero .search_data {
            width: 715px;
            height: 74.07px;
        }
        .search_data select {
            font-size: 17px;
        }
        .search_data button{
            font-size: 17px;
        }
        .explore-circle {
            width: 6rem;
            height: 6rem;
        }
        .explore-circle span {
            font-weight: 400;
            font-size: 65px;
            line-height: 107px;
        }
        .exploreimage_data h2 {
            font-weight: 600;
            font-size: 2.2rem;
            line-height: 3.4rem;
            color: #000;
            margin-top: 17px;
        }
        #why .why_data h2 {
            font-size: 53px;
            line-height: 51px;
        }
        #why .why_data p {
            
            font-size: 16px;
            line-height: 37px;
        }
        .why_images {
            margin: 10px 42px 20px 42px;
        }
        .why_img img {
            width: 93.57px;
            height: 95px;
        }
        .why_slider .swiper-slide .why_desc h4 {
            font-size: 22px;
        }
        .why_slider .swiper-slide .why_desc p {
            font-size: 16px;
        }
        .why_slider .swiper-slide .why_desc a {
            
            font-size: 17px;
        }
        
        .why_desc img {
            margin: 6px;
        }
        #tour {
            margin-top: 89.4px;
        }
        .tour_data h2 {
           
            font-size: 53px;
            line-height: 51px;
        }
        .tour_data p {
            font-size: 16px;
            line-height: 30px;
        }
        .test_data h3 {
             font-size: 29px;
            line-height: 69px;
            
        }
        .test_data h2 {
            font-size: 58px;
        }
        .test_data p {
            font-weight: 500;
            font-size: 17px;
            line-height: 29px;
            
        }
        #test .test_slider .swiper-slide .test_profile .test-profile-pic img {
            
            height: 115px;
            width: 115px;
        }
        .profile_data h4 {
            font-size: 22px;
            line-height: 68px;
            margin-top: 44px;
            
        }
        .profile_data img {
            margin-top: 35px;
        }
        .profile_data p {
            margin-top: -50px;
            font-size: 17px;
            line-height: 89px;
        }
        #subcribe .sub_data h2 {
            line-height: 57px;
            font-size: 53px;
        }
        #subcribe .sub_data p {
            font-size: 16px;
            line-height: 33px;
        }
        .type_email {
            width: 674px;
            height: 67px;
            margin-top: 82px;
            
        }
        .type_email h4 {
            font-size: 18px;
        }
        .type_email .sub-btn button {
            width: 144px;
            height: 53px;
            font-size: 19px;
            line-height: 34px;
        }
        .tra_img img {
            width: 79%;
        }
        .traveller_images p {
            font-size: 16px;
        }
        .contact h4 {
            font-size: 23px;
        }
        .quik h4 {
            font-size: 23px;
        }
        .follow h4 {
            font-size: 23px;
        }
        .copyright p {
            font-weight: 500;
            font-size: 17px;
            line-height: 34px;
            text-align: center;
            color: #fff;
            height: 87px;
            padding: 49px;
            background-color: #000;
        }
        #top {
            margin-top: 85px;
        }
        #bottom {
            margin-top: 85px;
        }
    }


    /* 992-1199 (Big_Tablet) */
    @media screen and (max-width:1199px) {
        .container {
            width: 100%;
         } 
         header .container {
            padding: 15px;
        }
         #explore {
            margin-top: 130px;
        } 
        #why {
            margin-top: 130px;
        }
        #tour {
            margin-top: 40.4px;
        }

        #top {
            margin-top: 130px;
        }
        #bottom {
            margin-top: 130px;
        }
        #test {
            margin-top: 120px;
        }
        #subcribe {
            margin-top: 120px;
        }

        header nav ul li a {
            padding: 8px;
            font-size: 1.6rem;
        }
         .why_images {
            margin-right: 0;
            margin-left: 0;
            height: 413.75px;
            background-color: #fff;
            border-radius: 10px;
            
            padding: 25px;
            margin: 49px;
        }

        .hero-data {
            top: 29%;
        }
        .hero-data h1 {
            font-size: 6.5rem;
            line-height: 7.5rem;
        }
        .hero-data p {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 3.3rem;
        }
        #hero p {
            margin-top: -29px;
        }
        #hero .search_data {
            width: 625px;
            height: 68.07px;
        }
        .search_data select {
            font-size: 16px;
        }
        .search_data button {
            font-size: 16px;
        }
        .main_title h2 {
            font-size: 47px;
            line-height: 55px;
        }
        .main_title p {
            line-height: 36px;
            /* margin-top: 0; */
            font-size: 15px;
        }
        #explore .swiper-wrapper {
            padding: 20px 0;
        }
        .explore-circle {
            width: 5.7rem;
            height: 5.7rem;
        }
        .explore-circle span {
            font-weight: 400;
            font-size: 64px;
            line-height: 106px;
        }
        .exploreimage_data h2 {
            font-weight: 600;
            font-size: 2.1rem;
            line-height: 3.3rem;
            color: #000;
            margin-top: 17px;
        }
        #why .why_data h2 {
            font-size: 51px;
            line-height: 49px;
        }
        .why_data p {
            font-size: 15px;
            line-height: 36px;
        }
        .why_img img {
            width: 91.57px;
            height: 93px;
        }

        
    
        .tour_img {
            display: flex;
            margin: 25px;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0 69px;
        }
        .tour_data h2 {
            font-size: 51px;
            line-height: 49px;
        }
        .tour_data p {
            font-size: 15px;
            line-height: 29px;
        }
        .test_data h3 {
            font-size: 28px;
            line-height: 68px;
        }
        .test_data h2 {
            font-size: 56px;
        }
        .test_data p {
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
        }
        .test_slider .swiper-wrapper {
            /* padding-bottom: 50px; */
            padding: 63px 10px 24px;
             margin-bottom: 53px;
            }
        
        #test .test_slider .swiper-slide .test_profile .test-profile-pic img {
            height: 114px;
            width: 114px;
        }
        .profile_data h4 {
            font-size: 21px;
            line-height: 67px;
            margin-top: 43px;
        }
        .profile_data p {
            margin-top: -50px;
            font-size: 16px;
            line-height: 88px;
        }
        .profile_data h3 {
            font-size: 15px;
            line-height: 27px;
            margin-top: 9px;
        }
        .profile_data {
            height: 428px;
        }
        #subcribe .sub_data h2 {
            line-height: 55px;
            font-size: 51px;
        }
        #subcribe .sub_data p {
            font-size: 15px;
            line-height: 32px;
        }
        .type_email {
            width: 580px;
            height: 63px;
            
        }
        .type_email h4 {
            font-size: 17px;
        }
        
        .type_email .sub-btn button {
            width: 143px;
            height: 52px;
            font-size: 18px;
            line-height: 33px;
        }
        
        .tra_img img {
            width: 70%;
            margin-top: 13px;
        }
        .traveller_images p {
            font-size: 15px;
        }
        .contact h4 {
            font-size: 21px;
        }
        .contact ul li a {
            font-size: 16px;
        }
        .quik ul li a {
            font-size: 16px;
        }
        .quik h4 {
            font-size: 21px;
        }
        .follow h4 {
            font-size: 21px;
        }
        .copyright p {
            font-size: 16px;
            line-height: 33px;
        }
        .traveller{
           width: 30%;
        }
        .contact{
          width: 25%;  
        }
        .quik{
            width: 15%;
        }
        .follow{
           width: 20%;
        }
        .test_btn .prev1 {
            right: 51rem;
            margin-top: 60px;
        }
        .test_btn .next2 {
            right: 36rem;
            margin-top: 60px;
        }
        #test .test_slider .swiper-slide {
            
            padding: 0 4rem;
        }

    }

/* 768 - 991 (big tablet) */
@media screen and (max-width:768px) {
    nav>ul {
        position: absolute;
        width: 30%;
        height: 100vh;
        background-color: rgb(78, 36, 75);
        top: 0;
        right: 0;
        transition: all 1s;
    }

    nav i{
        color: #fff;
    }
    header nav ul li {
        display: block;
        padding: 2rem;
        margin-top: 1rem;
    }

   
    header nav ul li ul,
    header nav ul li ul li ul {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
    header nav ul li ul li>a {
        padding-left: 40px;
    }
    header nav ul li ul li ul li>a {
        padding-left: 60px;
    }
    header nav ul li a {
        width: 100%;
    }
    nav ul>i {
        padding: 20px;
        font-size: 20px;
        float: right;
        z-index: 999;
        position: relative;
        display: inline-block !important;
    }
    nav>i {
        font-size: 20px;
        padding: 20px;
        display: inline-block !important;
    }
    .showHide {
        right: -70%;
    }
}