* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    /* 10px / 16px = 0.625 = 62.5px */
    */
    /* font-size: 62.5%;  */
}

body {
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}

img {

    display: block;
    max-width: 100%;
}

.container {
    width: 137rem;
    margin: 0 auto;
    /* padding-top: 5.9rem; */

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/**************header***********/
header {
    /* background-color: grey; */
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    transition: all 0.5s;
    z-index: 999;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem 0;

}

header nav {
    margin-left: auto;
}


header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 3.3rem;
}

header .search {
    color: #fff;
    font-size: 1.8rem;
    padding: 3.6rem;
}

header nav ul li a {
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    padding-left: 1.5rem;


}

.dark-header {
    background-color: #000;

}



/*******************************/

/*************hero*************/

#hero {
    background: url(../images/n2.jpg);
    width: 100%;
    height: 110vh;
    background-position: center center;
    background-size: cover;
}

#hero p {
    color: #CFCFCF;
}

#hero span {
    color: white;
}


.hero-data {
    position: absolute;
    top: 30%;
    left: 4.63%;
    right: 54.76%;
    /* top: 4.68%; */
    bottom: 91.42%;
}

.hero-data h1 {
    font-weight: 700;
    font-size: 9rem;
    line-height: 11rem;
    color: #fff;
    /* border: 1px solid red; */
    width: 650px;



}

.hero-data p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: #CFCFCF;
    /* left: 4.63%;
    right: 66.27%;
    top: 9.27%;
    bottom: 89.03%; */
    margin-top: 40px;
}

#hero .search {
    margin-top: 30px;
    width: 736px;
    height: 80px;
    background-color: #fff;
    border-radius: 40px;

}

#hero .search_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;

}


#hero button {
    width: 161px;
    height: 56.87px;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
}

.search_data select {
    border: none;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
}


/******************************/



/**********explore*************/
#explore {
    margin-top: 178px;
}

#explore .explore_data h1 {

    text-align: center;
    font-size: 60px;
    line-height: 70px;
}

#explore .explore_data p {
    /* margin-top: 15px; */
    text-align: center;
    font-size: 16px;
    line-height: 36px;
    color: #878787;
}

.exploreimage_data h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    color: #000000;

}

.exploreimage_data p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #555555;
}

.explore-circle {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    text-align: center;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.14);
    top: -5rem;
    right: 3rem;
}
.exploreimage_data {
    position: relative;

}
.explore-circle span {
    font-weight: 400;
    font-size: 72px;
    line-height: 126px;
    text-align: center;
    color: #000000;
    
   
    display: inline-block;
}
.exploreimage_data h2 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #000;
   margin-top: 22px;
}
.exploreimage_data p{
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #878787;
}
.explore_data .explore-circle {
    font-size: 50px;
}

.explore_slider .swiper-wrapper .swiper-slide .exploreimage img {
    width: 444px;
    height: 361px;
    /* object-fit: cover;
    object-position: center; */
    /* margin: 10px; */
}


.explore_btn .prev,
.explore_btn .next {
    z-index: 9;
    position: absolute;
    top: -9rem;
    width: 7rem;
    height: 6.6rem;
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    font-size: 3rem;
    text-align: center;
    line-height: 6.5rem;
    cursor: pointer;
}

#explore .explore_btn {
    position: relative;
    margin-top: 100px;
}

.explore_btn .prev {
    left: 0;
    color: #737373;
}

.explore_btn .next {
    right: 0;
    color: #737373;
}



.explore_slider .swiper-slide:hover .explore_data {}

/******************************/





/**************why****************/
#why {

    background-size: 100% 500px;
    margin-top: 100px;
    background-image: url(../images/bali7.jpg);
    background-repeat: no-repeat;
}

.why_images {
    margin: 0 20px;
    /* width: 100px; */
}

#why .why_data h1 {
    text-align: center;
    font-size: 40px;
    line-height: 70px;
}

#why .why_data p {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    color: white;
    font-weight: 200;
}

.why_btn .prev,
.why_btn .next {
    z-index: 9;
    position: absolute;
    top: -9rem;
    width: 7rem;
    height: 6.6rem;
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    font-size: 3rem;
    text-align: center;
    line-height: 6.5rem;
    cursor: pointer;
}

#why .why_btn {
    position: relative;
    margin-top: 100px;
}

.why_btn .prev {
    left: 0;
    color: #737373;
}

.why_btn .next {
    right: 0;
    color: #737373;
}

.why_slider .swiper-slide {

    height: 432.75px;
    background-color: #fff;
    border-radius: 10px;
    margin: 50px;
    border: black solid 1px;

}

.why_slider .swiper-slide .why_img img {
    padding: 25px;


}

.why_slider .swiper-slide .why_desc {
    margin-top: 20px;

}

.why_slider .swiper-slide .why_desc h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    padding: 25px;
}

.why_slider .swiper-slide .why_desc p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* margin-top: 5px; */
    color: #858585;
    padding-left: 25px;
    margin-bottom: 20px;
}

.why_slider .swiper-slide .why_desc a {
    padding-left: 25px;
    font-weight: 500;
    font-size: 18px;
    color: #000;
    position: absolute;
    display: flex;

}

.why_slider .swiper-slide .why_desc a img {

    padding-left: 20px;

}

/******************tour********************/
.tour_data h1 {
    text-align: center;
    font-weight: 600;
    font-size: 60px;
    margin-top: 50px;
}

.tour_data p {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #858585;
    margin-top: 20px;
}

.tour_img {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

/******************************************/

/*****************testmoinl*******************/
#test {
    margin-top: 200px;
}

#test .client-container {
    margin-left: calc((100% - 137rem) / 2);
    margin: 100px;
}

.test_data h1 {
    font-weight: 600;
    font-size: 55px;
    margin-top: 20px;

}

.test_data p {
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #626262;
}

.test_btn .prev1,
.test_btn .next2 {
    z-index: 9;
    position: absolute;
    top: -9rem;
    width: 7rem;
    height: 7rem;
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    font-size: 3rem;
    /* text-align: center; */
    align-items: center;
    line-height: 6.5rem;
    cursor: pointer;
    display: flex;
    padding: 20.5px;

}

#test .test_btn {
    position: relative;
    margin-top: 100px;
}

.test_btn .prev1 {
    /* left: 1440px; */
    color: #737373;
    right: 125px;
}

.test_btn .next2 {
    right: 3rem;
    color: #737373;
}

#test .test_slider .swiper-slide {
    /*  height: 500px; */
    background-color: #fff;
    margin-left: 10px;
    /* border: 1px solid black; */
    padding-bottom: 20px;
    margin: 0 20px;
    border-radius: 10px;
    /* margin-top: -100px; */


}

#test .test_slider .swiper-slide {
    padding-top: 7rem;
    padding-bottom: 5rem;
}

#test .test_slider .swiper-slide .test_profile {
    /* margin: 0 20px; */
    /* position: relative; */

}

#test .test_slider .swiper-slide .test_profile .test-profile-pic {
    display: flex;
    justify-content: center;


}

#test .test_slider .swiper-slide .test_profile .test-profile-pic img {
    /* margin-top: -100px; */
    margin-bottom: -50px;
}

.profile_data {

    border-radius: 10px;
    height: 370px;
    padding: 20px;
    box-shadow: 2px 2px 7px 2px grey;
}

.profile_data h4 {
    font-size: 18px;
    font-weight: 500px;
    line-height: 70px;
    text-align: center;
    margin-top: 50px;

}

.profile_data img {
    margin-top: 50px;
}

.profile_data p {
    text-align: center;
    font-size: 17px;
    color: #858585;
    margin-top: -30px;

}

.profile_data h3 {
    color: #858585;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    margin-top: 10px;
}

/***********************************************/



/*******************subcribe*************/

#subcribe {
    margin: 50px 0;
    background-image: url(../images/bali1.jpg);
    background-size: 100%;
    height: 500px;
}

#subcribe .sub_data h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    color: white;
    text-align: center;

}

#subcribe .sub_data p {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: #DFDFDF;

}

.type_email {
    width: 676px;
    height: 69px;
    background-color: #fff;
    border-radius: 30px;
    /* margin-top: 80px; */
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    padding: 20px;

}

.type_email h4 {
    color: #878787;
    font-size: 20px;
    font-weight: 500;


}

.type_email .sub-btn {}


.type_email .sub-btn button {
    color: #fff;
    background-color: black;
    width: 150px;
    height: 60px;
    border-radius: 50px;
    padding: 12px;

    text-align: center;
}










/*********************************/